<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px;
            font-family: Roboto,Raleway,Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Hello from sockets</h1>
    <br>
        <p>Please check on the console if there is a socket event emitted</p>
    <br>
    <div id="socketWrapper">
        <p id="socketmsg"></p>
    </div>
    <a href="/">Back to homepage</a>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const sockets = io();
        const element = document.getElementById("socketmsg");

    sockets.on('message', (data) => {
            element.style.padding="20px",
            element.style.backgroundColor="#003300df",
            element.style.color="#ffffff",
            element.style.marginTop="10px",
            element.style.borderRadius="20px"
        
        element.innerHTML = data
        console.log("Message: ",data)
    });
    </script>
</body>
</html>